/*
* Style sheet for the webpage
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/********
 * Tags *
 ********/

a{
	color: #07c;
	text-decoration: none;
}
a:hover{
	color: #30a7fc;
}
body{
	font-family: 'Roboto', sans-serif;
	line-height: 1.2em;
	width: 100%;
	margin: 0;
	background: #eee;
}
h2, h4{
	color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
	clear: both;
}
h1{
	font-size: 1.7em;
}
h2{
	font-size: 1.5em;
	text-align: center;
}
h3{
	margin-top: 0px;
	margin-bottom: 0px;
}
p{
	line-height: 1em;
	margin-top: .75em;
	margin-bottom: .75em;
}
table{
	border-spacing: 0px;
}
td{
	padding: 0px;
	padding-bottom: 10px;
	padding-right: 25px;
}


/********
 * ID's *
 ********/

#content{
	width: 50%;
	margin: 30px auto;
	background: white;
	padding: 20px;
	clear: both;
}
a#currentTab{
	background-color: #F38700;
	box-shadow: 0px 1px 1px #bbb; 
}
a#currentTab:hover{
	background-color: #F38700;
	box-shadow: 0px 1px 1px #bbb;
	font-weight: normal;
}
#footer{
	border-bottom: 1px #ccc solid;
}
#footer p{
	color: grey;
	margin-top: -20px;
}
#header{
	margin-top: 5px;
	font-family: georgia;
	text-align: center;
}
#nav{
	text-align: center;
}
#nav ul{
	padding-left: 0;
}
#nav ul li{
	display: inline-block;
	height: 62px;
}
#nav a{
	padding: 20px;
	background: orange;
	color: white;
	box-shadow: 0px 1px 1px #999; 
}
#nav a:hover{
	background-color: #ffb424;
	box-shadow: 0px 1px 1px #666;
	font-weight: bold;
}
#page{
	min-width: 960px;
	margin: 20px;
}



/***********
 * Classes *
 ***********/

.accounts{
	height: 45px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.container{
	width: 60%;
}
.details{
	padding: 8px;
}
.favicon{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.fa{
	color: white;
	width: 45px;
	height: 45px;
	border-radius: 25px;
	font-size: 30px;
	text-align: center;
	margin-right: 10px;
}
.fa:hover{
	color: white;
	font-weight: normal;
	background-color: #4078c0;
	opacity: .8;
}
.fa-facebook{
	line-height: 1.6em;
	background: #3b5998
} 
.fa-linkedin{
	line-height: 1.5em;
	background: #007bb6
}
.fa-github{
	line-height: .9em;
	color: black;
	font-size: 52px;
	margin-top: -1px;
}
.fa-github:hover{
	color: #4078c0;
	background-color: white;
}
.gmail{
	background: #eaeaea;
	background-image: url('gmail-icon.png');
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 5px;
}
.item{
	padding: 10px;
}
.left{
	text-align: left;
	float: left;
}
.list{
	padding-left: 28px;
}
.list-title{
	margin-left: -20px;
}
.right{
	text-align: right;
	float: right;
}
.stack-overflow{
	background-color: #eaeaea;
	background-image: url('so-icon.png');
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: -.5px;
}
.stack-overflow:hover{
	background-color: #4078c0;
}
.tags{
	color: orange;
}
.time-frame{
	float: right;
	margin: 0px;
}